body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

.container {
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.chart-container {
  margin-top: 30px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.schedule-chart {
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
}